{% extends "base.html" %}
{% load static %}
{% load filters %}
{% load widget_tweaks %}

{% block title %}{{ block.super }} - {{ question.title }}{% endblock title %}
{% block content %}
    <img src="{{ question.user.profile.avatar_url }}" alt="Avatar" class="rounded-circle"  height="40px" width="40px">
    <h2>{{ question.title }}</h2>
    
    <div class="row">
        <div class="col-1">
        {% if user.is_authenticated %}
            <form method="post">
            <input type="hidden" name="from_page" value="{{ answer_page.number }}">
                {% csrf_token %}
                <div>
                    <button
                        type="submit"
                        formaction="{% url 'qanda:vote_question' pk=question.id action=question.like %}"
                        class="btn btn-default {{ question.like }}"
                    >
                        <span class="mdi mdi-chevron-up"></span>
                    </button>
                    
                </div>
        {% endif %}
                <div>
                    <p class="text-center my-0">{{ question.rating }}</p>
                </div>
        {% if user.is_authenticated %}
                <div>
                    <button
                        type="submit"
                        formaction="{% url 'qanda:vote_question' pk=question.id action=question.dislike %}"
                        class="btn btn-default  {{ question.dislike }}"
                    >
                        <span class="mdi mdi-chevron-down"></span>
                    </button>
                </div>  
            </form>
        {% endif %}
        </div>
        <div class="col-11">
            <p>{{ question.text }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for tag in question.tags.all %}
                <a
                    href="{% url 'qanda:questions_list' %}?search_string=tag:{{tag.text}}"
                    role="button"
                    class="btn btn-info"
                >
                    {{ tag.text }}
                </a>
            {% endfor %}
        </div>
    </div>
    <hr>
    <h4>Answers:</h4>
        {% if answer_page.paginator.num_pages > 1 %}
            <div class="btn-toolbar mb-2" role="toolbar">
                <div class="btn-group mr-2" role="group">

                    {% if answer_page.has_previous %}
                    <a
                        href="{% url 'qanda:question' question.id %}"
                        role="button"
                        class="btn btn-secondary"
                    >&laquo;</a>
                    <a
                        href="{% url 'qanda:question_page' question.id answer_page.previous_page_number %}"
                        role="button"
                        class="btn btn-secondary"
                    >&lt;</a>
                    {% endif %}
                    
                    {% for page_num in answer_page.paginator.num_pages|page_range %}
                        {% if page_num == answer_page.number %}
                            <button class="btn btn-secondary" disabled>{{ page_num }}</button>
                        {% else %}
                            <a
                                href="{% url 'qanda:question_page' question.id page_num %}"
                                role="button" class="btn btn-secondary"
                            >{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if answer_page.has_next %}
                        <a
                            href="{% url 'qanda:question_page' question.id answer_page.next_page_number%}"
                            role="button"
                            class="btn btn-secondary"
                        >&gt;</a>
                        <a
                            href="{% url 'qanda:question_page' question.id answer_page.paginator.num_pages %}"
                            role="button"
                            class="btn btn-secondary"
                        >&raquo;</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% for answ in  answers %}
            <div class="row">
                <div class="col-1">
                    {% if user.is_authenticated %}
                    <form method="post">
                    <input type="hidden" name="from_page" value="{{ answer_page.number }}">
                    {% csrf_token %}
                        <input name="question" type="hidden" value="{{ question.id }}">
                        <div>
                            <button
                                type="submit"
                                formaction="{% url 'qanda:vote_answer' pk=answ.id action=answ.like %}"
                                class="btn btn-default {{ answ.like }}"
                            >
                                <span class="mdi mdi-chevron-up"></span>
                            </button>
                        </div>
                    {% endif %}
                        <div>
                            <p class="text-center my-0">{{ answ.rating }}</p>
                        </div>
                    {% if user.is_authenticated %}
                        <div>
                            <button
                                type="submit"
                                formaction="{% url 'qanda:vote_answer' pk=answ.id action=answ.dislike %}"
                                class="btn btn-default {{ answ.dislike }}"
                            >
                                <span class="mdi mdi-chevron-down"></span>
                            </button>
                        </div>
                    </form>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="from_page" value="{{ answer_page.number }}">
                        {% if question.correct_answer %}
                            {% if question.correct_answer == answ %}
                                <div>
                                    <p class="text-center my-0">*</p>
                                </div>
                            {% endif %}
                        {% else %}
                            <div>
                                <button
                                    type="submit"
                                    formaction="{% url 'qanda:correct_answer' pk=question.id answ_id=answ.id %}"
                                    class="btn btn-default {{ answ.dislike }}"
                                >
                                    Mark correct
                                </button>
                            </div>
                        {% endif %}
                    </form>
                    {% endif %}
                </div>
                <div class="col-11">
                    {{ answ.text }}
                </div>
            </div>
            <div class="row justify-content-end">
                    <div class="col-2">
                        <img
                            src="{{ answ.user.profile.avatar_url }}"
                            alt="Avatar" class="rounded-circle"
                            height="40px"
                            width="40px"
                        >
                        <span class="ml-1">{{ answ.user.username }}</span>
                    </div>
            </div>
            <hr>
        {% endfor %}
        {% if answer_page.paginator.num_pages > 1 %}
            <div class="btn-toolbar mb-2" role="toolbar">
                <div class="btn-group mr-2" role="group">

                    {% if answer_page.has_previous %}
                    <a
                        href="{% url 'qanda:question' question.id %}"
                        role="button"
                        class="btn btn-secondary"
                    >&laquo;</a>
                    <a
                        href="{% url 'qanda:question_page' question.id answer_page.previous_page_number %}"
                        role="button"
                        class="btn btn-secondary"
                    >&lt;</a>
                    {% endif %}
                    
                    {% for page_num in answer_page.paginator.num_pages|page_range %}
                        {% if page_num == answer_page.number %}
                            <button class="btn btn-secondary" disabled>{{ page_num }}</button>
                        {% else %}
                            <a
                                href="{% url 'qanda:question_page' question.id page_num %}"
                                role="button"
                                class="btn btn-secondary"
                            >{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if answer_page.has_next %}
                    <a
                        href="{% url 'qanda:question_page' question.id answer_page.next_page_number%}"
                        role="button"
                        class="btn btn-secondary"
                    >&gt;</a>
                    <a
                        href="{% url 'qanda:question_page' question.id answer_page.paginator.num_pages %}"
                        role="button"
                        class="btn btn-secondary"
                    >&raquo;</a>
                     {% endif %}
                </div>
            </div>
        {% endif %}
    {% if user.is_authenticated %}

    <h4>Add your answer:</h4>
        <form method="post" action="{% url 'qanda:answer' %}">
            {% csrf_token %}
            {{ form.as_p}}
            <input type="submit" class="btn btn-primary" value="Answer">
        <form>
    {% endif %}
{% endblock content %}